In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *
import credentials

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=%s password=%s" \
                            % (credentials.USER, credentials.PASSWORD))
cur = conn.cursor()

In [3]:
total_streams = """SELECT SUM(songplays.songplay_id) FROM songplays"""
cur.execute(total_streams)
results, = cur.fetchone()

if results:
    print("TOTAL STREAMS")
while results:
    print(results)
    results = cur.fetchone()

TOTAL STREAMS
23259610

In [4]:
top_users_query = """SELECT users.first_name || ' ' || users.last_name full_name, SUM(songplays.user_id) \
                     FROM (songplays JOIN users ON songplays.user_id=users.user_id) \
                     GROUP BY full_name \
                     ORDER BY SUM(songplays.user_id) DESC LIMIT 5;"""
cur.execute(top_users_query)
results = cur.fetchone()

if results:
    print("TOP 5 USERS WITH MOST LISTENS")
while results:
    print(results)
    results = cur.fetchone()

TOP 5 USERS WITH MOST LISTENS
('Kate Harrell', 54029)
('Tegan Levine', 53200)
('Chloe Cuevas', 33761)
('Mohammad Rodriguez', 23760)
('Jacob Klein', 21097)

In [5]:
top_weekday_query = """SELECT time.weekday, SUM(songplays.songplay_id) \
                       FROM (songplays JOIN time ON time.start_time=songplays.start_time) \
                       GROUP BY time.weekday \
                       ORDER BY SUM(songplays.songplay_id) DESC;"""
cur.execute(top_weekday_query)
results = cur.fetchone()

if results:
    print("STREAMING COUNTS BY WEEK DAY")
while results:
    print(results)
    results = cur.fetchone()

STREAMING COUNTS BY WEEK DAY
('2', 5162472)
('1', 4282254)
('4', 3724965)
('0', 3482037)
('5', 3307005)
('3', 3113176)
('6', 187701)

In [6]:
user_level_query = """SELECT songplays.level, SUM(songplays.songplay_id) \
                       FROM songplays \
                       GROUP BY songplays.level;"""
cur.execute(user_level_query)
results = cur.fetchone()

if results:
    print("STREAMING COUNTS BY ACCOUNT LEVEL")
while results:
    print(results)
    results = cur.fetchone()

STREAMING COUNTS BY ACCOUNT LEVEL
('free', 3736127)
('paid', 19523483)

In [7]:
top_days_query = """SELECT time.day, SUM(songplays.songplay_id) \
                                FROM (songplays JOIN time ON songplays.start_time=time.start_time) \
                                GROUP BY time.day \
                                ORDER BY SUM(songplays.songplay_id) DESC LIMIT 5;"""
cur.execute(top_days_query)
results = cur.fetchone()

if results:
    print("TOP 5 STREAMING DAYS OF THE MONTH")
while results:
    print(results)
    results = cur.fetchone()

TOP 5 STREAMING DAYS OF THE MONTH
(21, 2338824)
(28, 2143878)
(24, 2092339)
(16, 2024693)
(15, 1798166)